body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #add8e6; /* Baby blue background */
}

h1, h2 {
    color: #333;
}

h1 {
    margin-top: 20px; /* Sesuaikan margin-top untuk mengatur posisi judul */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #333;
    padding: 8px;
    text-align: left;
}
